body{
    background-color: white;
    font-family: 'Playfair Display', serif;
    
}

h1{
    
    font-family: 'Big Casion', serif;
    font-size: 40pt;
    /* font-family: 'Playfair Display', serif; */


}

h3{
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Work Sans', sans-serif; */
  font-size: 15pt;
  font-weight: 100;

}



h5, .p2{
  font-family: 'Roboto', sans-serif;
}

a{
  color: rgb(245, 49, 150);
}

.card{
  border: 0;
 /* Add shadows to create the "card" effect */
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
 transition: 0.3s;
 border-radius: 5px;
 

}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}


.card1, .card2, .card3, .card4{
  border: 0;
  background-color: #F8F9FB;
  margin: 3%;
  padding:2%;

  

}

/* MArgin on Ennemi title */
.Coltitle{
  margin-left: 80px;
}
/*end of margin*/

.ImagePrototypeFG{
  display: block;
  margin-left: auto;
  margin-right: auto;
 

}

.card-body1{
  float:left;
  width:auto;
  position: relative;
  left: 8.5%;
  text-align: left;
  margin-top: 40%;
  
}

.card-body6{
  float: center;
  width:auto;
  position: relative;
  left: 5%;
  text-align: left;
  margin-top: 30%;
  
}

.card-body2{
  float: right;;
  width:auto;
  position: relative;
  left: -5%;
  text-align: right;
  margin-top: 90%;
  
}

.card-body3{
  float:left;
  width:auto;
  position: relative;
  left: 4.5%;
  text-align: left;
  margin-top: 40%;
  
}

.card-body4{
  float: right;
  width:auto;
  position: relative;
  /* left: 0%; */
  text-align: right;
  margin-top: 90%;
  
}



.finance{
  margin-left: 40%;
}


/* .containerTitle{
    position: relative;
    top: 60%;
    left: 8.5%;
    width: auto;
}

.containerH2{
    position: relative;
    top: 30%;
    left: 10%;
    width: auto;
   
}

.containerH3{
    position: relative;
    top: 54%;
    left: 16%;
    width: auto;
    text-align: center;

} */


.containerH3{
    position: relative;
    top: 50%;
    width: 90%;
    left: 5%;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
   
}

p, h3, li{
  margin: 0;
  font-family: 'raleway', sans-serif;
  text-align: justify;
  
}

footer{
  background: #cecece;
  /* background-image: linear-gradient(#FFFFFF ,#616161, #3a3a3a); */
  padding: 0;
  height: 200px;
  margin-top: 10%;
}

.icons{
  padding-top: 5%;
  padding-left: 38%;
}


#navbar{
    background-color: white;
}


.navbar-toggler{
    float: left;
    border: 0;
    
}


* {
  box-sizing: border-box;
}


.Titles {
  float:left;
  width:auto;
  position: relative;
  /* top: -60%; */
  left: 8.5%;
  text-align: center;
  margin-bottom: 0%;
  margin-top: 20%;
  margin-left: -5%;  
    
}

.main {
  float:left;
  width:7%;
}

.right {
  
  float:right;
  width:48%;
  top: 20%;
  position: relative;

 
}
.responsive {
  max-width: 100%;
  margin: 0 0 0 0;
  padding: 0;
  
}


@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .Titles, .main, .right {
    width:100%;
  }
}



  .jumbotron{
    background: url("../Portfolio/assets/TimerAppImg/frontpage.png") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;

    
}

.push-spaces{
    height: 580px;

}

.moodboard{
  width: 100%;
  height: auto;

}



